/**
 * Colors used in entire application
 */

$color-white: #FFFFFF;
$color-lightblue: rgb(1, 79, 159);
$color-yellow: rgb(255, 221, 0);
$color-background: rgb(20, 36, 51);
$color-background-medium: #1f313f;
$color-background-light: rgb(42, 66, 81);
$color-border: #182735;
$color-green: rgb(0, 255, 0);
$color-text-light: rgb(149, 164, 173);